option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: project_tracker_server.settings
  aws:elasticbeanstalk:container:python:
    WSGIPath: project_tracker_server/wsgi.py
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static

container_commands:
  01_migrate:
    command: "/var/app/venv/staging-LQM1lest/bin/python manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "/var/app/venv/staging-LQM1lest/bin/python manage.py collectstatic --noinput"
    leader_only: true
  